:root {
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(138, 229, 247, 1) 0%,
    rgba(222, 230, 232, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

.navbar {
  overflow: hidden;
  background-color: rgb(102, 131, 165);
  position: relative;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: chocolate;
  color: black;
}

.header-container {
}

.header {
}

.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.title {
  font-size: larger;
  text-decoration: underline;
}

.content {
}

.button {
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }
}
