/* TODO's written as comments and properties cut from final in the bottom */

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(138, 229, 247, 1) 0%,
    rgba(222, 230, 232, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.header {
  background-size: contain;
  background-color: rgb(153, 179, 233);
  justify-content: center;
}

.container {
  display: table;
  justify-content: center;
  width: 500px;
  border: solid black 2px;
}

.title {
  margin-left: 2rem;
  font-size: x-large;
}

.content {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 100%;
  }
} /* More practice on this.







/* hr.rounded {
  border-top: 10px solid #bbb;
  border-radius: 5px;
} */

/* @keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(240px);
  }  Improve keyframes */

/* .navbar {
  background-color: rgb(224, 176, 104);
  position: relative;
  width: 100%;
 }
  Fix better look and size */

/* .navbar p {
  animation: move;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
} 
Fix better animation */
